<div>

  <div>
    <h1>
      Unicorns Love
    </h1>

    <ul>
      <li *ngFor="let unicorn of unicorns">{{unicorn.name}}</li>
    </ul>
  </div>

  <div>
    <h3>Brand new unicorn</h3>
    <form (ngSubmit)="createUnicorn(color)">
      <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" [(ngModel)]="newUnicorn.name">
      </fieldset>
      <fieldset>
        <label for="gender">Gender</label><br>
        <input type="radio" [(ngModel)]="newUnicorn.gender"  name="gender" value="male">Male<br>
        <input type="radio" [(ngModel)]="newUnicorn.gender"  name="gender" value="female">Female
      </fieldset>
      <fieldset>
        <label for="color">Color</label>
        <input id="color" name="color"
        [(colorPicker)]="color"
        [style.background]="color"
        [value]="color"
        />
      </fieldset>
      <button type="submit">Create</button>
    </form>
  </div>

</div>


